<!DOCTYPE html>
<html>
<head>
  <title>Architecture 4 Enterprises</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="img/A42.svg">
</head>
<body>
<div id="app">
  <v-app>
    <v-app-bar
      app
      color="white"
      height="100"
    >
    
        <v-img
          class="mr-3"
          contain
          max-height="100%"
          src="img/A42.svg"
        ></v-img>
      
    </v-app-bar>

    <v-content>
      <section id="hero">
        <v-row no-gutters>
          <v-img
            :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'"
            src="https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80"
          >
            <v-theme-provider dark>
              <v-container fill-height>
                <v-row
                  align="center"
                  class="white--text mx-auto"
                  justify="center"
                >
                  <v-col
                    class="white--text text-center"
                    cols="12"
                    tag="h1"
                  >
                    <span
                    :class="[$vuetify.breakpoint.smAndDown ? 'display-1' : 'display-2']"
                      class="font-weight-light"
                    >
                      Invista em uma arquitetura
                    </span>

                    <br>

                    <span
                      :class="[$vuetify.breakpoint.smAndDown ? 'display-3': 'display-4']"
                      class="font-weight-black"
                    >
                      On Demand
                    </span>

                  </v-col>

                  <v-btn
                    class="align-self-end"
                    fab
                    outlined
                    @click="$vuetify.goTo('#about-me')"
                  >
                    <v-icon>mdi-chevron-double-down</v-icon>
                  </v-btn>
                </v-row>
              </v-container>
            </v-theme-provider>
          </v-img>
        </v-row>
      </section>

      <section id="about-me">
        <div class="py-12"></div>

        <v-container class="text-center">
          <h2 class="display-2 font-weight-bold mb-3">Modelo de atuação</h2>

          <v-responsive
            class="mx-auto mb-8"
            width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-responsive
            class="mx-auto title font-weight-light mb-8"
            max-width="720"
          >
            Que tal direcionamentos de um grupo de arquitetos com experiência de mercado?
            A arquitetura é um processo evolutivo, que guia os desenvolvedores e pavimenta 
            a execução de produtos e migrações de sistemas.
            Não somos uma software house, a nossa proposta é ajudar empresas que carecem de 
            uma visão de mercado, melhorando a cultura e a entrega do negócio e dos sistemas.
          </v-responsive>

          <v-avatar
            class="elevation-12 mb-12"
            size="128"
          >
            <v-img src="img/get-shit-done-03.jpg"></v-img>
          </v-avatar>

          <div></div>

          <!-- <v-btn
            color="grey"
            href="https://vuetifyjs.com"
            outlined
            large
          >
            <span class="grey--text text--darken-1 font-weight-bold">
              Vuetify Documentation
            </span>
          </v-btn> -->
        </v-container>

        <div class="py-12"></div>
      </section>

      <section
        id="features"
        class="grey lighten-3"
      >
        <div class="py-12"></div>

        <v-container class="text-center">
          <h2 class="display-2 font-weight-bold mb-3">Nosso Time</h2>

          <v-responsive
            class="mx-auto mb-12"
            width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-row>
            <v-col
              v-for="({ title, text, filename }, i) in features"
              :key="i"
              cols="12"
              md="4"
            >
              <v-card
                class="py-12 px-4"
                color="grey lighten-5"
                flat
              >
                <v-theme-provider dark>
                  <div>
                    <v-avatar
                      color="primary"
                      size="128"
                    >
                    <v-img
                    v-bind:src="filename"
                      alt="John"
                    >
                    </v-avatar>
                  </div>
                </v-theme-provider>

                <v-card-title
                  class="justify-center font-weight-black text-uppercase"
                  v-text="title"
                ></v-card-title>

                <v-card-text
                  class="subtitle-1"
                  v-text="text"
                >
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>

        <div class="py-12"></div>
      </section>

      <section id="stats">
        <v-parallax
          :height="$vuetify.breakpoint.smAndDown ? 700 : 500"
          src="https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
        >
          <v-container fill-height>
            <v-row class="mx-auto">
              <v-col
                v-for="[value, title] of stats"
                :key="title"
                cols="12"
                md="4"
              >
                <div class="text-center">
                  <div
                    class="display-3 font-weight-black mb-4"
                    v-text="value"
                  ></div>

                  <div
                    class="title font-weight-regular text-uppercase"
                    v-text="title"
                  ></div>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-parallax>
      </section>

      <section id="blog">
        <div class="py-12"></div>

        <v-container>
          <h2 class="display-2 font-weight-bold mb-3 text-uppercase text-center">Blog</h2>

          <v-responsive
            class="mx-auto mb-12"
            width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-row>
            <v-col
              v-for="({ src, text, title, path }, i) in articles"
              :key="i"
              cols="12"
              md="4"
            >
              <v-img
                :src="src"
                class="mb-4"
                height="275"
                max-width="100%"
              ></v-img>

              <h3
                class="font-weight-black mb-4 text-uppercase"
                v-text="title"
              ></h3>

              <div
                class="title font-weight-light mb-5"
                v-text="text"
              ></div>

              <v-btn
                class="ml-n4 font-weight-black"
                text
                v-bind:href="path" target="_blank"
              >
                Continue lendo
              </v-btn>
            </v-col>
          </v-row>
        </v-container>

        <div class="py-12"></div>
      </section>

      <v-sheet
        id="contact"
        color="#333333"
        dark
        tag="section"
        tile
      >
        <div class="py-12"></div>

        <v-container>
          <h2 class="display-2 font-weight-bold mb-3 text-uppercase text-center">Contato</h2>

          <v-responsive
            class="mx-auto mb-12"
            width="56"
          >
            <v-divider class="mb-1"></v-divider>

            <v-divider></v-divider>
          </v-responsive>

          <v-theme-provider light>
            <v-form action="https://formspree.io/f/moqpobol" method="POST">
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    flat
                    label="Nome*"
                    solo
                    name="name"
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    flat
                    label="Email*"
                    solo
                    name="_replyto"
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    flat
                    label="Assunto*"
                    solo
                    name="subject"
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-textarea
                    flat
                    label="Mensagem*"
                    solo
                    name="message"
                  ></v-textarea>
                </v-col>

                <v-col
                  class="mx-auto"
                  cols="auto"
                >
                  <v-btn
                    color="accent"
                    x-large
                    type="submit"
                  >
                    Enviar
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-theme-provider>
        </v-container>

        <div class="py-12"></div>
      </v-sheet>
    </v-content>

    <v-footer
      class="justify-center"
      color="#292929"
      height="100"
    >
      <div class="title font-weight-light grey--text text--lighten-1 text-center">
        &copy; {{ (new Date()).getFullYear() }} — A4E — Made with 💜 by us
      </div>
    </v-footer>
  </v-app>
 </div>
 <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
 <script>
  new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data () {
      return {
        articles: [
          {
            src: 'https://i.imgflip.com/40srh9.jpg',
            title: 'The simple and definitive guide to learn programming.',
            text: 'Trying to learn programming? Maybe you arrived here with frustration already. You are trying to learn and get no progress no matter what...',
            path: 'https://rodtimoteo.com/the-simple-and-definitive-guide-to-learn-programming/'
          },
          {
            src: 'https://miro.medium.com/max/1024/1*H53H7hTwiUyr9M3IqeENcQ.png',
            title: 'Choosing the right technology for a microservice.',
            text: 'Your journey in writing a microservice begins with choosing the right technology. A microservice is an independent software that ...',
            path: 'https://rodtimoteo.com/choosing-the-right-technology-for-a-microservice/'
          },
          {
            src: 'https://d2ga8dje9bus38.cloudfront.net/V3s4nuHSfCTAbonO05ao_verlocal_diy_pottery_sculpture_class_workshop_in_san_francisco.jpg',
            title: 'Building a rich domain model from anemic entities',
            text: '“Anemic” domain entities are entities without behavior. They are a bunch of classes fulled of getter and setters that offers nothing...',
            path: 'https://rodtimoteo.com/building-a-rich-domain-model-from-anemic-entities/'
          },
        ],
        features: [
          {
            title: 'Vinicius Bueno',
            text: 'Vinícius é especialista em dados, modelagem financeira e processos de vendas. Formado em Ciências Contábeis pela USP, é fascinado por tecnologia e possui vasta experiência atuando em instituições financeiras e fintechs.',
            filename: "img/vini.jpeg"
          },
          {
            title: 'Bruno Galvão ',
            text: 'Engenheiro da Computação e Arquiteto de Software, com mais de 6 anos de experiência. Trabalhou em diversos segmentos e possui uma vontade enorme em contribuir por onde passa.',
            filename: "img/bruno.jpg"
          },
          {
            title: 'Rodolpho Timóteo',
            text: 'Atua em programação, arquitetura e DevOps. É agnóstico de metodologia e tecnologia, buscando encontrar a solução ideal para cada problema.',
            filename: "img/rod.jpg"
          },
        ],
        stats: [
          ['12', 'Artigos Publicados'],
          ['4', 'Projetos Concluídos'],
          ['1', 'Monolitos Migrados'],
          //['5m', 'Total Downloads'],
        ],
      }
    }
  })
</script>
</body>
</html>
